Workflows/EmailNewAccountMaster-9ABD53A9-8EDD-EE11-904C-6045BD08ECB2.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dju_sharedsharepointonline_ce551"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dju_sharedoffice365_ce05c"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_an_item_is_created": {
          "recurrence": {
            "frequency": "Minute",
            "interval": 5
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "fc2523b4-4e17-4471-ac4d-15d7221158c4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dorel1.sharepoint.com/teams/CATAPULTEXP",
              "table": "7359d7b0-3462-4c8b-8fd3-497fb8901b64"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnNewItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {
            "Get_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e7926dd-b6c3-4a78-b4d1-751f4fb0282c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dorel1.sharepoint.com/teams/CATAPULTEXP",
              "table": "6d94afb1-1a32-4d9b-843a-cc56734cd13a",
              "$filter": "Title eq '@{body('Get_item')?['UserID']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Update_item": {
              "metadata": {
                "operationMetadataId": "daef3c1c-0e98-4c50-9569-979ea63d44a4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dorel1.sharepoint.com/teams/CATAPULTEXP",
                  "table": "7359d7b0-3462-4c8b-8fd3-497fb8901b64",
                  "id": "@triggerBody()?['ID']",
                  "item/E_x002d_Mail": "@items('Apply_to_each')?['UserEmail']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Update_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "62186087-42a9-4c5f-9657-409354dadcd7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@body('Update_item')?['E_x002d_Mail']",
                  "emailMessage/Subject": "Account Master Changes",
                  "emailMessage/Body": "<p>Hi @{items('Apply_to_each')?['FirstName']},<br>Please use the following link to provide an exceptions explanation for the journal entry made on @{body('Get_item')?['Journal_x0020_Date']} to @{body('Get_item')?['Add_x002f_Delete_x002f_Change']} item for account @{body('Get_item')?['Item_x0023_']}.<br><br><br><a href=\"https://apps.powerapps.com/play/e/default-be702899-adb0-4f70-a46a-8c9219608ab8/a/116fdd28-2323-487b-8e28-594e080a9e46?tenantId=be702899-adb0-4f70-a46a-8c9219608ab8&amp;hint=278c4e54-b89a-4926-a3d3-4636016138cb&amp;sourcetime=1709929331019\">Exceptions Reporting</a><br><br>Thank you,</p><br>",
                  "emailMessage/Importance": "High"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "55142cde-ac26-40b6-8f2f-12ab1e81af18"
          },
          "type": "Foreach"
        },
        "Get_item": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "aaea1878-2c73-4803-a1a5-2e99f5cb4af4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dorel1.sharepoint.com/teams/CATAPULTEXP",
              "table": "7359d7b0-3462-4c8b-8fd3-497fb8901b64",
              "id": "@triggerBody()?['ID']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}