Workflows/WoBusUnit-3D9984BA-2CDB-EE11-904C-6045BD08ECB2.json
{
  "properties": {
    "connectionReferences": {
      "shared_filesystem_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dju_sharedfilesystem_e9d8f"
        },
        "api": {
          "name": "shared_filesystem"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dju_sharedsharepointonline_ce551"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_file_is_created_(properties_only)": {
          "recurrence": {
            "interval": 5,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body']",
          "metadata": {
            "operationMetadataId": "cccd1f94-f684-4259-9841-bd9a092d70bb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_filesystem_1",
              "operationId": "OnNewFiles",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_filesystem"
            },
            "parameters": {
              "folderId": "\\\\ad.dorel.com\\DJUS\\Public\\_JDE_CATAPULTTEST_REPORTS\\R097041_DJG0001_ACCOUNTS_WO_BUSINESS_UNITS_REPORT",
              "maxFileCount": 10
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "853a73f2-d3b9-4c08-92cf-3f1826182a83"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Create Array",
                "type": "array"
              }
            ]
          }
        },
        "Condition_2": {
          "actions": {
            "Get_file_content": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bcfc09db-c2ad-40b1-a3fb-9faeb6022bf7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_filesystem_1",
                  "operationId": "GetFileContent",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_filesystem"
                },
                "parameters": {
                  "id": "@triggerOutputs()?['body/Id']",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Read_File_Content": {
              "runAfter": {
                "Get_file_content": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e0900b4f-3e0d-45a1-befd-8120a9cd847c"
              },
              "type": "Compose",
              "inputs": "@body('Get_file_content')"
            },
            "Split_Contents_to_Columns": {
              "runAfter": {
                "Read_File_Content": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8b36f2e9-b451-4b3d-9e3a-a066effa3f02"
              },
              "type": "Compose",
              "inputs": "@skip(split(outputs('Read_File_Content'),'\r\n'),4)"
            },
            "CSV_to_Table": {
              "foreach": "@outputs('Split_Contents_to_Columns')",
              "actions": {
                "Items_to_Map": {
                  "runAfter": {
                    "Array_Items": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f61e2744-b40b-4cc8-8754-d03332232372"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Array_Items')",
                    "select": {
                      "Invalid Business Unit": "@{item()?[0]}",
                      "Invalid Level of Detail": "@{item()?[1]}",
                      "Business Unit": "@{item()?[2]}",
                      "Obj Acct": "@{item()?[3]}",
                      "Sub": "@{item()?[4]}",
                      "A/M Co": "@{item()?[5]}",
                      "B/M Co": "@{item()?[6]}",
                      "Account ID": "@{item()?[7]}",
                      "Level of Detail": "@{item()?[8]}"
                    }
                  },
                  "description": "Replace Map Keys with related fields and the value to the corresponding item from the array"
                },
                "For_each": {
                  "foreach": "@body('Items_to_Map')",
                  "actions": {
                    "Condition": {
                      "actions": {},
                      "runAfter": {
                        "Parse_JSON_2": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Create_item": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "d752ca1e-9544-464e-ad82-69aec41214fd"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sharepointonline",
                                "operationId": "PostItem",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                              },
                              "parameters": {
                                "dataset": "https://dorel1.sharepoint.com/teams/CATAPULTEXP",
                                "table": "67bf55a4-3a77-4f0d-8f74-f3b195bf6ff0",
                                "item/InvalidBusinessUnit": "@body('Parse_JSON_2')?['Invalid Business Unit']",
                                "item/InvalidLevelofDetail": "@body('Parse_JSON_2')?['Invalid Level of Detail']",
                                "item/BusinessUnit": "@body('Parse_JSON_2')?['Business Unit']",
                                "item/ObjAccount": "@body('Parse_JSON_2')?['Obj Acct']",
                                "item/Sub": "@body('Parse_JSON_2')?['Sub']",
                                "item/A_x002f_MCo": "@body('Parse_JSON_2')?['A/M Co']",
                                "item/B_x002f_MCo": "@body('Parse_JSON_2')?['B/M Co']",
                                "item/AccountID": "@body('Parse_JSON_2')?['Account ID']",
                                "item/LevelofDetail": "@body('Parse_JSON_2')?['Level of Detail']",
                                "item/Manager_x0020_Approved": false
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('Parse_JSON_2')?['Invalid Business Unit']",
                              ""
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "93b6faa2-4633-44d6-9f1c-2c76d8a9e6ac"
                      },
                      "type": "If"
                    },
                    "Parse_JSON_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4f92cf3a-9f1d-4e1a-bdb8-1da07abb5eae"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@items('For_each')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "Invalid Business Unit": {
                              "type": "string"
                            },
                            "Invalid Level of Detail": {
                              "type": "string"
                            },
                            "Business Unit": {
                              "type": "string"
                            },
                            "Obj Acct": {
                              "type": "string"
                            },
                            "Sub": {
                              "type": "string"
                            },
                            "A/M Co": {
                              "type": "string"
                            },
                            "B/M Co": {
                              "type": "string"
                            },
                            "Account ID": {
                              "type": "string"
                            },
                            "Level of Detail": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Items_to_Map": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "29379f9d-005f-43b4-9691-fe1fdb2b9421"
                  },
                  "type": "Foreach"
                },
                "Array_Items": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "891616fd-0c99-4ab5-b376-835b2061a478"
                  },
                  "type": "Compose",
                  "inputs": "@createArray(split(items('CSV_to_Table'),',')\r\n)"
                }
              },
              "runAfter": {
                "Split_Contents_to_Columns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1cb819aa-a4cc-412a-95c2-687002e01a30"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "endsWith": [
              "@triggerOutputs()?['body/Name']",
              "csv"
            ]
          },
          "metadata": {
            "operationMetadataId": "e03c0b7d-172a-474a-b3d7-6a4269047d8e"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}